{%- comment -%}
********************************************
Section Header
********************************************
This component renders a section header

Variables:

Content
* subheading: pretext for introduction
  type: text
* heading: heading of section
  type: inline_text, text
* content: content of text
  type: inline_richtext | richtext
* link_text: text of the link
  type: text
* link_url: link URL
  type: url

Colors:
* subheading_color: the optional gradient to use for the heading
  type: color
* heading_color: the optional gradient to use for the heading
  type: color
* heading_gradient: the optional gradient to use for the heading
  type: gradient
* content_color: the optional gradient to use for the heading
  type: color

Layout
* layout: Select layout for header (stacked / by sides)
  type: select
* alignment: can be "start", "center" or "end" (default to start, just with layout: stacked)
  type: select
{%- endcomment -%}

{% liquid
  assign button_exists = false

  if button_label != blank and button_link != blank
    assign button_exists = true
  endif

%}

{%- capture attributes -%}
  class="section-header {{ class }}"
  data-layout="{{ layout }}"
  data-alignment="{{ alignment }}"
{%- endcapture -%}

{% style %}
  #shopify-section-{{ section.id }} {
    
  }
{% endstyle %}

<header {{ attributes }}>

  {% if layout == "two_columns"  %}
    <div class="section-header-left">
  {% endif %}
  
    {% comment %} Subheading {% endcomment %}
      <div class="section-header-subheading-wrapper">
        <p {% render "set-text-color", class:"section-header-subheading", text_color: subheading_color %}>{{- subheading -}}</p>
      </div>

    {% comment %} Title {% endcomment %}
      <div class="section-header-heading-wrapper">
        <h2>
          {% render "set-text-gradient-color", 
            class:"section-header-heading", 
            content: heading, 
            text_color: heading_color, 
            text_gradient: heading_gradient 
          %}
        </h2>
      </div>

    {% comment %} content {% endcomment %}
      <div class="section-header-content-wrapper">
        <div {% render "set-text-color", class:"section-header-content rte", text_color: content_color %}>{{- content -}}</div>
      </div>

  {% if layout == "two_columns"  %}
    </div>
    <div class="section-header-right">
  {% endif %}

    {% comment %} Button {% endcomment %}
      {% if button_exists %}
        <div class="section-header-button-wrapper">
          <a href="{{- button_link -}}" class="section-header-button button button-{{ button_style }}">{{- button_label | escape -}}</a>
        </div>
      {% endif %}

  {% if layout == "two_columns"  %}
    </div>
  {% endif %}

</header>
